.other-products {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  background-color: #fffcf1;
}

.other-coktails {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  background-color: #fffcf1;
}

.sale {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  background-color: #fffcf1;
}
