.other-products {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  background-color: #fffcf1;
  font-size: 10px;
}

.other-coktails {
  border-radius: 30px;
  padding: 10px;
  margin-top: 40px;
  margin-left: -10px;
  background-color: #fffcf1;
  font-size: 10px;
}

.sale {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  background-color: #fffcf1;
  font-size: 10px;
}
