/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.change {
  font-family: "superior-title", serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.position {
  text-align: right;
}

.product-2 {
  margin: 30px;
  text-align: left;
}

.p footer {
  margin: 30px;
}

.product {
  margin-top: 50px;
}

.product-2 {
  margin-top: 50px;
  margin-right: 140px;
  text-align: right;
}
/* ====================================
// base rules
// ==================================== */
